<% layout('layout') %>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
<div class="container">
  <h1>訂閱帳號</h1>
    <table class="pure-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>帳號</th>
                <th>訂閱時間</th>
            </tr>
        </thead>
    
        <tbody>
            <% var index=1; for(item in allSubscribeData){  %> 
            <tr>
                 <td><%= index %></td>
                <td><%= allSubscribeData[item].account %></td>
                <td><%= new Date(allSubscribeData[item].date).getFullYear() %>
                  年
                  <%=new Date(allSubscribeData[item].date).getMonth() + 1 %>
                  月
                  <%=new Date(allSubscribeData[item].date).getDate()%>
                  日
                  <%=new Date(allSubscribeData[item].date).getHours()%>
                  時
                  <%=new Date(allSubscribeData[item].date).getMinutes()%>
                  分
                  <%=new Date(allSubscribeData[item].date).getSeconds()%>
                  秒
                </td>
            </tr>
            <% index++ } %>
        </tbody>
    </table>
    <br/>
    <h1>取消帳號</h1>
    <table class="pure-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>取消帳號</th>
                <th>取消訂閱時間</th>
            </tr>
        </thead>
    
        <tbody>
            <% var index=1; for(item in alldeletInfo){  %> 
            <tr>
                 <td><%= index %></td>
                <td><%= alldeletInfo[item].account %></td>
                <td><%= new Date(alldeletInfo[item].date).getFullYear() %>
                  年
                  <%=new Date(alldeletInfo[item].date).getMonth() + 1 %>
                  月
                  <%=new Date(alldeletInfo[item].date).getDate()%>
                  日
                  <%=new Date(alldeletInfo[item].date).getHours()%>
                  時
                  <%=new Date(alldeletInfo[item].date).getMinutes()%>
                  分
                  <%=new Date(alldeletInfo[item].date).getSeconds()%>
                  秒
                </td>
            </tr>
            <% index++ } %>
        </tbody>
    </table>


</div>